<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Management System</title>
  <link rel="stylesheet" href="/css/global.css">
  <link rel="stylesheet" href="/css/header.component.css">
  <link rel="stylesheet" href="/css/index.css">
  <!-- * Header Js -->
  <script src="/js/header.component.js" defer fetchpriority="high"></script>
</head>
<body>
  {{HEADER}}
  <script src="/js/index.js"></script>
</body>
</html>